[submodule "hello-lambda"]
	path = hello-lambda
	url = git@github.com:santiagomedinadev/hello-lambda.git
[submodule "simple-handler"]
	path = simple-handler
	url = git@github.com:santiagomedinadev/simple-handler.git
