[submodule "hello-lambda"]
	path = hello-lambda
	url = git@github.com:santiagomedinadev/hello-lambda.git
[submodule "simple-handler"]
	path = simple-handler
	url = git@github.com:santiagomedinadev/simple-handler.git
[submodule "hello-spring-cloud-function"]
	path = hello-spring-cloud-function
	url = git@github.com:santiagomedinadev/hello-spring-cloud-function.git
